{
    "presets": [
      "es2015",
      [
        "env",
        {
          "modules": false
        }
      ]
    ],
    "plugins": [
      "syntax-dynamic-import",
      "transform-runtime",
      "transform-vue-jsx",
      [
        "module-resolver",
        {
          "alias": {
            "easeui": "element-ui",
            "easeui/src": "./src/easeui"
          }
        }
      ],
      [
        "component",
        [
          {
            "libraryName": "easeui",
            "styleLibraryName": "theme-chalk"
          },
          {
            "libraryName": "mint-ui",
            "style": true
          }
        ]
      ]
    ],
    "comments": false,
    "env": {
      "test": {
        "presets": [
          "env",
          "stage-2"
        ],
        "plugins": [
          "istanbul"
        ]
      }
    }
  }